In [2]:
#读取数据
import numpy as np
import pandas as pd
import os

import warnings
warnings.filterwarnings('ignore',category=UserWarning,module='bs4')

root = './data'
print(os.listdir(root))

['test.tsv', 'sampleSubmission.csv', 'train.tsv']

In [3]:
#nltk是处理英文本文的一个库函数，里头包含了例如tokenizer，lemma类似的函数
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
from bs4 import BeautifulSoup
import re
from tqdm import tqdm

In [4]:
#使用keras搭建网络
from keras.utils import to_categorical # 转成one-hot
import random
from tensorflow import set_random_seed
from sklearn.model_selection import train_test_split # 划分验证集，训练集
from keras.preprocessing import sequence # 将词转成序列
from keras.preprocessing.text import Tokenizer # 来自keras的token函数
from keras.layers import Dense,Dropout,Embedding,LSTM # 网络层
from keras.callbacks import EarlyStopping # 训练提早结束
from keras.losses import categorical_crossentropy # 分类器
from keras.optimizers import Adam # 优化器
from keras.models import Sequential # 模型容器

Using TensorFlow backend.

In [8]:
# 为keras优化器固定一个随机算子，这样可以保证每次出现的结果都是相同的，便于验证
set_random_seed(123)
random.seed(123)

In [9]:
# load data
train = pd.read_csv(os.path.join(root,'train.tsv'),sep = '\t')
test = pd.read_csv(os.path.join(root,'test.tsv'),sep = '\t')
train.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [11]:
train.shape

(156060, 4)

In [12]:
test.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [13]:
test.shape

(66292, 3)

In [18]:
# 下面这个函数用来去除html标签
# 去除非文本内容
# tokenize句子，即分词
# lemmatize句子，即词性还原
def clean_sentences(df):
    reviews = []
    for sent in tqdm(df['Phrase']):
        review_text = BeautifulSoup(sent).get_text() # 去除html
        review_text = re.sub('[^a-zA-Z]',' ',review_text) # 去除非文本部分
        # tokenize the sentences
        words = word_tokenize(review_text.lower()) # 令牌化
        lemma_words = [lemmatizer.lemmatize(i) for i in words] # 词形恢复
        reviews.append(lemma_words)
    return reviews

In [21]:
# clear the data
train_sentences = clean_sentences(train)
test_sentences = clean_sentences(test)
print(len(train_sentences))
print(len(test_sentences))

100%|██████████| 156060/156060 [01:22<00:00, 1902.17it/s]
100%|██████████| 66292/66292 [00:34<00:00, 1916.48it/s]

156060
66292

In [25]:
# 将标注转变为one-hot格式
target = train.Sentiment.values
y_target = to_categorical(target)
num_classes = y_target.shape[1]

In [30]:
print(y_target.shape)

(156060, 5)

In [31]:
# split the data into train and val
x_train,x_val,y_train,y_val = train_test_split(train_sentences,y_target,test_size = 0.2,stratify=y_target)

In [42]:
# 去除重复的句子
unique_words = set()
len_max = 0
for sent in tqdm(x_train):
    unique_words.update(sent)
    if(len_max < len(sent)):
        len_max = len(sent)
print(len(list(unique_words)))
print(len_max)

  0%|          | 0/124848 [00:00<?, ?it/s]

AttributeError: 'set' object has no attribute 'updates'